
@font-face {
    font-family: 'MinecraftFont';
    src: url('MC.otf') format('opentype');
}

.title {
    font-size:100px;
    font-family: 'MinecraftFont';  
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.page_title {
    font-size:100px;
    font-family: 'MinecraftFont';  
    left: 0;
    line-height: 100px;
    margin-top: 25px;
    text-align: center;
    top: 50%;
    width: 100%;
}

.page_subtitle {
    font-size:70px;
    font-family: 'MinecraftFont';  
    left: 0;
    line-height: 100px;
    margin-top: 0px;
    text-align: center;
    top: 50%;
    width: 100%;
}

.subtitle {
    font-size:70px;
    font-family: 'MinecraftFont';  
    left: 0;
    line-height: 265px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

p{
    font-size:35px;
    font-family: 'MinecraftFont';  
    line-height: 50px;
    margin-top: 5px;
    margin-left:75px;
    margin-right:75px;
    text-align: center;
    top: 50%;
}

.back{
    font-size:25px;
    font-family: 'MinecraftFont';  
    text-align: center;
    position:relative;
    top:5px;
    bottom:15px;
    width:100%;
}

a {   
    color: black;   
}

a:active {
    color: pink;
}

a:visited{
    color: palevioletred;
}


body {
    background-image: url("images/paper.png");
    background-size:cover;
}

.click-area {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
}

.right-side {
    right: 0;
    cursor: pointer;
}


.left-side {
    left: 0;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* heads */

.head_hash,
.head_ipa,
.head_akoot,
.head_xan,
.head_reno,
.head_joe,
.head_snark,
.head_sego,
.head_visc,
.head_rat,
.head_500am,
.head_vnrs,
.head_bub{
    display: block;
    position: relative;
    margin:10px;
}

.head_hash::before,
.head_ipa::before,
.head_akoot::before,
.head_xan::before,
.head_reno::before,
.head_joe::before,
.head_snark::before,
.head_sego::before,
.head_visc::before,
.head_rat::before,
.head_500am::before,
.head_vnrs::before,
.head_bub::before
{
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
}

.head_hash:hover::before,
.head_ipa:hover::before,
.head_akoot:hover::before,
.head_xan:hover::before,
.head_reno:hover::before,
.head_joe:hover::before,
.head_snark:hover::before,
.head_sego:hover::before,
.head_visc:hover::before,
.head_rat:hover::before,
.head_500am:hover::before,
.head_vnrs:hover::before,
.head_bub:hover::before
{
    opacity:0;
}

.head_hash::after,
.head_ipa::after,
.head_akoot::after,
.head_xan::after,
.head_reno::after,
.head_joe::after,
.head_snark::after,
.head_sego::after,
.head_visc::after,
.head_rat::after,
.head_500am::after,
.head_vnrs::after,
.head_bub::after
{
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    text-align: center;
    font-size:x-large;
    font-family: 'MinecraftFont';  
    padding-top:25%;
}


/* individuals */

.head_hash{
    width: 184px;
    height: 184px;
}
.head_hash::before{
    background-image:url(images/hash.png);
}
.head_hash::after{
    background-image:url(images_out/hash_average.png);
    content:"lilhashbrown";
}



.head_ipa{
    width: 184px;
    height: 184px;
}
.head_ipa::before{
    background-image:url(images/ipa.png);
}
.head_ipa::after{
    background-image:url(images_out/ipa_average.png);
    content:"IndiaPaleAle";
}

.head_akoot{
    width: 184px;
    height: 184px;
}
.head_akoot::before{
    background-image:url(images/akoot.png);
}
.head_akoot::after{
    background-image:url(images_out/akoot_average.png);
    content:"Akoot_";
}

.head_xan{
    width: 184px;
    height: 184px;
}
.head_xan::before{
    background-image:url(images/xan.png);
}
.head_xan::after{
    background-image:url(images_out/xan_average.png);
    content:"Xanxus542";
}

.head_reno{
    width: 184px;
    height: 184px;
}
.head_reno::before{
    background-image:url(images/reno.png);
}
.head_reno::after{
    background-image:url(images_out/reno_average.png);
    content:"cuddlyMonster";
}

.head_joe{
    width: 184px;
    height: 184px;
}
.head_joe::before{
    background-image:url(images/joe.png);
}
.head_joe::after{
    background-image:url(images_out/joe_average.png);
    content:"joethahobo";
}

.head_snark{
    width: 184px;
    height: 184px;
}
.head_snark::before{
    background-image:url(images/snark.png);
}
.head_snark::after{
    background-image:url(images_out/snark_average.png);
    content:"SnarKaizer";
}


.head_sego{
    width: 184px;
    height: 184px;
}
.head_sego::before{
    background-image:url(images/sego.png);
}
.head_sego::after{
    background-image:url(images_out/sego_average.png);
    content:"Segotep999";
}

.head_visc{
    width: 184px;
    height: 184px;
}
.head_visc::before{
    background-image:url(images/visc.png);
}
.head_visc::after{
    background-image:url(images_out/visc_average.png);
    content:"Viscalis";
}

.head_rat{
    width: 184px;
    height: 184px;
}
.head_rat::before{
    background-image:url(images/rat.png);
}
.head_rat::after{
    background-image:url(images_out/rat_average.png);
    content:"Prince_Rat";
}

.head_500am{
    width: 184px;
    height: 184px;
}
.head_500am::before{
    background-image:url(images/500am.png);
}
.head_500am::after{
    background-image:url(images_out/500am_average.png);
    content:"500am";
}

.head_vnrs{
    width: 184px;
    height: 184px;
}
.head_vnrs::before{
    background-image:url(images/vnrs.png);
}
.head_vnrs::after{
    background-image:url(images_out/vnrs_average.png);
    content:"vnrs";
}

.head_bub{
    width: 184px;
    height: 184px;
}
.head_bub::before{
    background-image:url(images/bub.png);
}
.head_bub::after{
    background-image:url(images_out/bub_average.png);
    content:"BubblyPrototype";
    font-size:large;
}

/* builds */

.build_hash_new_base,
.build_500am_base,
.build_mail,
.build_reno_tea_room,
.build_prince_rat_axolotls,
.build_pink_spawn{
    display: block;
    position: relative;
    margin:10px;
}

.build_hash_new_base::before,
.build_500am_base::before,
.build_mail::before,
.build_reno_tea_room::before,
.build_prince_rat_axolotls::before,
.build_pink_spawn::before
{
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
    background-size: cover;
}

.build_hash_new_base:hover::before,
.build_500am_base:hover::before,
.build_mail:hover::before,
.build_reno_tea_room:hover::before,
.build_prince_rat_axolotls:hover::before,
.build_pink_spawn:hover::before
{
    opacity:0;
}

.build_hash_new_base::after,
.build_500am_base::after,
.build_mail::after,
.build_reno_tea_room::after,
.build_prince_rat_axolotls::after,
.build_pink_spawn::after
{
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    text-align: center;
    font-family: 'MinecraftFont';  
    padding-top:20%;
    white-space: pre-wrap;
    font-size:large;
}


.build_hash_new_base{
    width: 617px;
    height: 356px;
}
.build_hash_new_base::before{
    background-image:url(images/notable_builds/hash_new_base.png);
}
.build_hash_new_base::after{
    background-image:url(images_out/hash_average.png);
    content:"Hash's new base\A Some have called it sinister and negative,\A but it was always meant to be cozy";
}

.build_500am_base{
    width: 801px;
    height: 406px;
}
.build_500am_base::before{
    background-image:url(images/notable_builds/500am_base.png);
}
.build_500am_base::after{
    background-image:url(images_out/500am_base_average.png);
    content:"500am's base\A Literally one of the grandest buildings on the server";
}

.build_mail{
    width: 474px;
    height: 463px;
}
.build_mail::before{
    background-image:url(images/notable_builds/mail.png);
}
.build_mail::after{
    background-image:url(images_out/mail_average.png);
    content:"Post Office\A Have you recieved mail?";
}

.build_reno_tea_room{
    width: 905px;
    height: 419px;
}
.build_reno_tea_room::before{
    background-image:url(images/notable_builds/reno_tea_room.png);
}
.build_reno_tea_room::after{
    background-image:url(images_out/reno_tea_room_average.png);
    content:"Reno's Tea Room\A Pretty and pink, located at Pink House";
}


.build_prince_rat_axolotls{
    width: 574px;
    height: 329px;
}
.build_prince_rat_axolotls::before{
    background-image:url(images/notable_builds/prince_rat_axolotls.png);
}
.build_prince_rat_axolotls::after{
    background-image:url(images_out/prince_rat_axolotls_average.png);
    content:"Prince Rat's Axolotls\A Does he have every color? Does he have more than Hash?";
}

.build_pink_spawn{
    width: 669px;
    height: 376px;
}
.build_pink_spawn::before{
    background-image:url(images/notable_builds/pink_spawn.png);
}
.build_pink_spawn::after{
    background-image:url(images_out/pink_spawn_average.png);
    content:"Pink Spawn\A Turned pink prior to Hash's return by Pirk";
}

/* events */

.event_mahoose_birthday_1,
.event_mahoose_birthday_2,
.event_mahoose_boats,
.event_mahoose_many{
    display: block;
    position: relative;
    margin:10px;
}

.event_mahoose_birthday_1::before,
.event_mahoose_birthday_2::before,
.event_mahoose_boats::before,
.event_mahoose_many::before
{
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
    background-size: cover;
}

.event_mahoose_birthday_1:hover::before,
.event_mahoose_birthday_2:hover::before,
.event_mahoose_boats:hover::before,
.event_mahoose_many:hover::before
{
    opacity:0;
}

.event_mahoose_birthday_1::after,
.event_mahoose_birthday_2::after,
.event_mahoose_boats::after,
.event_mahoose_many::after
{
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    text-align: center;
    font-family: 'MinecraftFont';  
    padding-top:20%;
    white-space: pre-wrap;
    font-size:large;
}

.event_mahoose_birthday_1{
    width: 689px;
    height: 366px;
}
.event_mahoose_birthday_1::before{
    background-image:url(images/events/mahoose_birthday_1.png);
}
.event_mahoose_birthday_1::after{
    background-image:url(images_out/mahoose_birthday_1_average.png);
    content:"Mahoose's Birthday Party\A Is he a Virgo or a Libra?";
}

.event_mahoose_birthday_2{
    width: 731px;
    height: 388px;
}
.event_mahoose_birthday_2::before{
    background-image:url(images/events/mahoose_birthday_2.png);
}
.event_mahoose_birthday_2::after{
    background-image:url(images_out/mahoose_birthday_2_average.png);
    content:"More Mahoose's Birthday Party\A Is it true that he is Akoot_'s alt? Hmm...";
}

.event_mahoose_boats{
    width: 395px;
    height: 342px;
}
.event_mahoose_boats::before{
    background-image:url(images/events/mahoose_boats.png);
}
.event_mahoose_boats::after{
    background-image:url(images_out/mahoose_boats_average.png);
    content:"Boats and Mahoose\A Not sure what the context of this is, but it's a cool picture!";
}

.event_mahoose_many{
    width: 576px;
    height: 340px;
}
.event_mahoose_many::before{
    background-image:url(images/events/mahoose_many.png);
}
.event_mahoose_many::after{
    background-image:url(images_out/mahoose_many_average.png);
    content:"So many Mahooses\A Can there be too many Mahooses? \A The answer depends on the recipient...";
}