/* heads */

.head_hash,
.head_ipa,
.head_akoot,
.head_xan,
.head_reno,
.head_joe,
.head_snark,
.head_sego,
.head_visc,
.head_rat,
.head_500am,
.head_vnrs,
.head_bub,
.head_jozef,
.head_cow{
    display: block;
    position: relative;
    margin:10px;
}

.head_hash::before,
.head_ipa::before,
.head_akoot::before,
.head_xan::before,
.head_reno::before,
.head_joe::before,
.head_snark::before,
.head_sego::before,
.head_visc::before,
.head_rat::before,
.head_500am::before,
.head_vnrs::before,
.head_bub::before,
.head_jozef::before,
.head_cow::before
{
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
    max-width: 100%;
}

.head_hash:hover::before,
.head_ipa:hover::before,
.head_akoot:hover::before,
.head_xan:hover::before,
.head_reno:hover::before,
.head_joe:hover::before,
.head_snark:hover::before,
.head_sego:hover::before,
.head_visc:hover::before,
.head_rat:hover::before,
.head_500am:hover::before,
.head_vnrs:hover::before,
.head_bub:hover::before,
.head_jozef:hover::before,
.head_cow:hover::before
{
    opacity:0;
}

.head_hash::after,
.head_ipa::after,
.head_akoot::after,
.head_xan::after,
.head_reno::after,
.head_joe::after,
.head_snark::after,
.head_sego::after,
.head_visc::after,
.head_rat::after,
.head_500am::after,
.head_vnrs::after,
.head_bub::after,
.head_jozef::after,
.head_cow::after
{
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:absolute;
    z-index: -1;
    text-align: center;
    font-size:x-large;
    font-family: 'MinecraftFont';  
    padding-top:25%;
    max-width: 100%;
}


/* individuals */

.head_hash{
    width: 184px;
    height: 184px;
}
.head_hash::before{
    background-image:url(images/heads/hash.png);
}
.head_hash::after{
    background-image:url(images_out/hash_average.png);
    content:"lilhashbrown";
} 

.head_ipa{
    width: 184px;
    height: 184px;
}
.head_ipa::before{
    background-image:url(images/heads/ipa.png);
}
.head_ipa::after{
    background-image:url(images_out/ipa_average.png);
    content:"IndiaPaleAle";
}

.head_akoot{
    width: 184px;
    height: 184px;
}
.head_akoot::before{
    background-image:url(images/heads/akoot.png);
}
.head_akoot::after{
    background-image:url(images_out/akoot_average.png);
    content:"Akoot_";
}

.head_xan{
    width: 184px;
    height: 184px;
}
.head_xan::before{
    background-image:url(images/heads/xan.png);
}
.head_xan::after{
    background-image:url(images_out/xan_average.png);
    content:"Xanxus542";
}

.head_reno{
    width: 184px;
    height: 184px;
}
.head_reno::before{
    background-image:url(images/heads/reno.png);
}
.head_reno::after{
    background-image:url(images_out/reno_average.png);
    content:"cuddlyMonster";
}

.head_joe{
    width: 184px;
    height: 184px;
}
.head_joe::before{
    background-image:url(images/heads/joe.png);
}
.head_joe::after{
    background-image:url(images_out/joe_average.png);
    content:"joethahobo";
}

.head_snark{
    width: 184px;
    height: 184px;
}
.head_snark::before{
    background-image:url(images/heads/snark.png);
}
.head_snark::after{
    background-image:url(images_out/snark_average.png);
    content:"SnarKaizer";
}


.head_sego{
    width: 184px;
    height: 184px;
}
.head_sego::before{
    background-image:url(images/heads/sego.png);
}
.head_sego::after{
    background-image:url(images_out/sego_average.png);
    content:"Segotep999";
}

.head_visc{
    width: 184px;
    height: 184px;
}
.head_visc::before{
    background-image:url(images/heads/visc.png);
}
.head_visc::after{
    background-image:url(images_out/visc_average.png);
    content:"Viscalis";
}

.head_rat{
    width: 184px;
    height: 184px;
}
.head_rat::before{
    background-image:url(images/heads/rat.png);
}
.head_rat::after{
    background-image:url(images_out/rat_average.png);
    content:"Prince_Rat";
}

.head_500am{
    width: 184px;
    height: 184px;
}
.head_500am::before{
    background-image:url(images/heads/500am.png);
}
.head_500am::after{
    background-image:url(images_out/500am_average.png);
    content:"500am";
}

.head_vnrs{
    width: 184px;
    height: 184px;
}
.head_vnrs::before{
    background-image:url(images/heads/vnrs.png);
}
.head_vnrs::after{
    background-image:url(images_out/vnrs_average.png);
    content:"vnrs";
}

.head_bub{
    width: 184px;
    height: 184px;
}
.head_bub::before{
    background-image:url(images/heads/bub.png);
}
.head_bub::after{
    background-image:url(images_out/bub_average.png);
    content:"BubblyPrototype";
    font-size:large;
}

.head_jozef{
    width: 184px;
    height: 184px;
}
.head_jozef::before{
    background-image:url(images/heads/jozef.png);
}
.head_jozef::after{
    background-image:url(images_out/jozef_average.png);
    content:"jozef45";
    font-size:large;
}


.head_cow{
    width: 184px;
    height: 184px;
    
}
.head_cow::before{
    background-image:url(images/heads/cow.png);
}
.head_cow::after{
    background-image:url(images_out/cow_average.png);
    content:"ExcitedCow494";
    font-size:large;
}