/* events */
/* mid june 2 */

.events
{
    display: block;
    position: relative;
    margin:10px;
}

.events::before
{
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
    background-size: cover;
}

.events:hover::before
{
    opacity:0;
}

.events::after
{
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    text-align: center;
    font-family: 'MinecraftFont';  
    padding-top:20%;
    white-space: pre-wrap;
    font-size:x-large;
}


#event_upd_1{
    width: 545px;
    height: 359px;
}
#event_upd_1::before{
    background-image:url(../images/events/upd_1.png);
}
#event_upd_1::after{
    background-image:url(../images_out/upd_1_average.png);
    content:"Tiny IPA";
}

#event_upd_2{
    width: 742px;
    height: 417px;
}
#event_upd_2::before{
    background-image:url(../images/events/upd_2.png);
}
#event_upd_2::after{
    background-image:url(../images_out/upd_2_average.png);
    content:"Tiny Cow";
}
 
#event_survivor_3{
    width: 653px;
    height: 395px;
}
#event_survivor_3::before{
    background-image:url(../images/events/survivor_3.png);
}
#event_survivor_3::after{
    background-image:url(../images_out/survivor_3_average.png);
    content:"Bubbly watches survivor";
} 

#event_survivor_4{
    width: 593px;
    height: 419px;
}
#event_survivor_4::before{
    background-image:url(../images/events/survivor_4.png);
}
#event_survivor_4::after{
    background-image:url(../images_out/survivor_4_average.png);
    content:"Team 1: Akoot, Rat, Cow \A Team 2: Crate, Visc, Sailor";
} 

#event_survivor_5{
    width: 765px;
    height: 433px;
}
#event_survivor_5::before{
    background-image:url(../images/events/survivor_5.png);
}
#event_survivor_5::after{
    background-image:url(../images_out/survivor_5_average.png);
    content:"Lava rains";
} 

#event_survivor_6{
    width: 734px;
    height: 400px;
}
#event_survivor_6::before{
    background-image:url(../images/events/survivor_6.png);
}
#event_survivor_6::after{
    background-image:url(../images_out/survivor_6_average.png);
    content:"Crate's force ghost leads Visc to victory";
} 

#event_survivor_7{
    width: 510px;
    height: 390px;
}
#event_survivor_7::before{
    background-image:url(../images/events/survivor_7.png);
}
#event_survivor_7::after{
    background-image:url(../images_out/survivor_7_average.png);
    content:"Rat breaks a block";
} 

#event_survivor_8{
    width: 324px;
    height: 397px;
}
#event_survivor_8::before{
    background-image:url(../images/events/survivor_8.png);
}
#event_survivor_8::after{
    background-image:url(../images_out/survivor_8_average.png);
    content:"Sign says it all \A Taken right before the start";
} 

#event_stack_1{
    width: 202px;
    height: 487px;
}
#event_stack_1::before{
    background-image:url(../images/events2/stack_1.png);
}
#event_stack_1::after{
    background-image:url(../images_out/stack_1_average.png);
    content:"From bottom to top: \A Pirk, Hash, Akoot";
} 

#event_stack_2{
    width: 228px;
    height: 484px;
}
#event_stack_2::before{
    background-image:url(../images/events2/stack_2.png);
}
#event_stack_2::after{
    background-image:url(../images_out/stack_2_average.png);
    content:"From bottom to top: \A Rat, Crate, Hash, Bubbly, Xan, IPA, Visc";
} 

#event_akoot_tall{
    width: 345px;
    height: 485px;
}
#event_akoot_tall::before{
    background-image:url(../images/events2/akoot_tall.png);
}
#event_akoot_tall::after{
    background-image:url(../images_out/akoot_tall_average.png);
    content:"This is literally a movie poster";
} 

#event_boat{
    width: 446px;
    height: 438px;
}
#event_boat::before{
    background-image:url(../images/events2/boat.png);
}
#event_boat::after{
    background-image:url(../images_out/boat_average.png);
    content:"I can't even comprehend this photo";
} 

#event_bub_dragon{
    width: 502px;
    height: 348px;
}
#event_bub_dragon::before{
    background-image:url(../images/events2/bub_dragon.png);
}
#event_bub_dragon::after{
    background-image:url(../images_out/bub_dragon_average.png);
    content:"Bubbly kills the enderdragon!";
} 

#event_hash_afk{
    width: 450px;
    height: 381px;
}
#event_hash_afk::before{
    background-image:url(../images/events2/hash_afk.png);
}
#event_hash_afk::after{
    background-image:url(../images_out/hash_afk_average.png);
    content:"Hash works on food plugin....";
} 

#event_pirk_fox{
    width: 305px;
    height: 406px;
}
#event_pirk_fox::before{
    background-image:url(../images/events2/pirk_fox.png);
}
#event_pirk_fox::after{
    background-image:url(../images_out/pirk_fox_average.png);
    content:"Pirk has a fox on her head!";
} 

#event_500am_sits{
    width: 514px;
    height: 382px;
}
#event_500am_sits::before{
    background-image:url(../images/events2/500am_sits.png);
}
#event_500am_sits::after{
    background-image:url(../images_out/500am_sits_average.png);
    content:"500am sits in Dreamwick's cat cafe";
} 

#event_ipa_dog{
    width: 808px;
    height: 434px;
}
#event_ipa_dog::before{
    background-image:url(../images/events2/ipa_dog.png);
}
#event_ipa_dog::after{
    background-image:url(../images_out/ipa_dog_average.png);
    content:"Giant dog and regular-sized IPA \A or regular-sized dog and tiny IPA?";
} 

#event_rat_farm{
    width: 919px;
    height: 471px;
}
#event_rat_farm::before{
    background-image:url(../images/events2/rat_farm.png);
}
#event_rat_farm::after{
    background-image:url(../images_out/rat_farm_average.png);
    content:"Rat's new wheat farm!";
} 

#event_pookie{
    width: 1250px;
    height: 515px;
}
#event_pookie::before{
    background-image:url(../images/events2/pookie.png);
}
#event_pookie::after{
    background-image:url(../images_out/pookie_average.png);
    content:"Pookie is back! (She's missing again.)";
} 

#event_before{
    width: 698px;
    height: 373px;
}
#event_before::before{
    background-image:url(../images/events2/before.png);
}
#event_before::after{
    background-image:url(../images_out/before_average.png);
    content:"Moments before chaos";
} 

#event_after{
    width: 698px;
    height: 373px;
}
#event_after::before{
    background-image:url(../images/events2/after.png);
}
#event_after::after{
    background-image:url(../images_out/after_average.png);
    content:"Moments after chaos";
} 