/* heads */

.heads 
{
    display: block;
    position: relative;
    margin:10px;
    width:184px;
    height: 184px;
}

.heads::before
{
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
    max-width: 100%;
}

.heads:hover::before
{
    opacity:0;
}

.heads::after
{
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:absolute;
    z-index: -1;
    text-align: center;
    font-size:x-large;
    font-family: 'MinecraftFont';  
    padding-top:25%;
    max-width: 100%;
}


/* individuals */

#head_hash::before{
    background-image:url(../images/heads/hash.png);
}
#head_hash::after{
    background-image:url(../images_out/hash_average.png);
    content:"lilhashbrown";
} 

#head_ipa::before{
    background-image:url(../images/heads/ipa.png);
}
#head_ipa::after{
    background-image:url(../images_out/ipa_average.png);
    content:"IndiaPaleAle";
}


#head_akoot::before{
    background-image:url(../images/heads/akoot.png);
}
#head_akoot::after{
    background-image:url(../images_out/akoot_average.png);
    content:"Akoot_";
}

#head_xan::before{
    background-image:url(../images/heads/xan.png);
}
#head_xan::after{
    background-image:url(../images_out/xan_average.png);
    content:"Xanxus542";
}

#head_reno::before{
    background-image:url(../images/heads/reno.png);
}
#head_reno::after{
    background-image:url(../images_out/reno_average.png);
    content:"cuddlyMonster";
}


#head_joe::before{
    background-image:url(../images/heads/joe.png);
}
#head_joe::after{
    background-image:url(../images_out/joe_average.png);
    content:"joethahobo";
}


#head_snark::before{
    background-image:url(../images/heads/snark.png);
}
#head_snark::after{
    background-image:url(../images_out/snark_average.png);
    content:"SnarKaizer";
}


#head_sego::before{
    background-image:url(../images/heads/sego.png);
}
#head_sego::after{
    background-image:url(../images_out/sego_average.png);
    content:"Segotep999";
}


#head_visc::before{
    background-image:url(../images/heads/visc.png);
}
#head_visc::after{
    background-image:url(../images_out/visc_average.png);
    content:"Viscalis";
}

#head_rat::before{
    background-image:url(../images/heads/rat.png);
}
#head_rat::after{
    background-image:url(../images_out/rat_average.png);
    content:"Prince_Rat";
}


#head_500am::before{
    background-image:url(../images/heads/500am.png);
}
#head_500am::after{
    background-image:url(../images_out/500am_average.png);
    content:"500am";
}


#head_vnrs::before{
    background-image:url(../images/heads/vnrs.png);
}
#head_vnrs::after{
    background-image:url(../images_out/vnrs_average.png);
    content:"vnrs";
}


#head_bub::before{
    background-image:url(../images/heads/bub.png);
}
#head_bub::after{
    background-image:url(../images_out/bub_average.png);
    content:"BubblyPrototype";
    font-size:large;
}


#head_jozef::before{
    background-image:url(../images/heads/jozef.png);
}
#head_jozef::after{
    background-image:url(../images_out/jozef_average.png);
    content:"jozef45";
}


#head_cow::before{
    background-image:url(../images/heads/cow.png);
}
#head_cow::after{
    background-image:url(../images_out/cow_average.png);
    content:"ExcitedCow494";
    font-size:large;
}


#head_neoma::before{
    background-image:url(../images/heads/neoma.png);
}
#head_neoma::after{
    background-image:url(../images_out/neoma_average.png);
    content:"Neoma__";
}


#head_harpy::before{
    background-image:url(../images/heads/harpy.png);
}
#head_harpy::after{
    background-image:url(../images_out/harpy_average.png);
    content:"Spacewardharpy7";
    font-size:large;
}


#head_mahoose::before{
    background-image:url(../images/heads/mahoose.png);
}
#head_mahoose::after{
    background-image:url(../images_out/mahoose_average.png);
    content:"Mahoose";
}


#head_men::before{
    background-image:url(../images/heads/men.png);
}
#head_men::after{
    background-image:url(../images_out/men_average.png);
    content:"MenKissing";
}


#head_women::before{
    background-image:url(../images/heads/women.png);
}
#head_women::after{
    background-image:url(../images_out/women_average.png);
    content:"WomenKissing";
}


#head_yamda::before{
    background-image:url(../images/heads/yamda.png);
}
#head_yamda::after{
    background-image:url(../images_out/yamda_average.png);
    content:"Yamdalorian";
}


#head_zap::before{
    background-image:url(../images/heads/zap.png);
}
#head_zap::after{
    background-image:url(../images_out/zap_average.png);
    content:"Zaoper";
    font-size:x-large;
}


#head_big::before{
    background-image:url(../images/heads/big.png);
}
#head_big::after{
    background-image:url(../images_out/big_average.png);
    content:"BiggWang";
}


#head_nova::before{
    background-image:url(../images/heads/nova.png);
}
#head_nova::after{
    background-image:url(../images_out/nova_average.png);
    content:"ApophisNova";
    font-size:large;
}


#head_star::before{
    background-image:url(../images/heads/star.png);
}
#head_star::after{
    background-image:url(../images_out/star_average.png);
    content:"ECstardust";
    font-size:large;
}


#head_may::before{
    background-image:url(../images/heads/may.png);
}
#head_may::after{
    background-image:url(../images_out/may_average.png);
    content:"mayzface";
    font-size:x-large;
}


#head_tara::before{
    background-image:url(../images/heads/tara.png);
}
#head_tara::after{
    background-image:url(../images_out/tara_average.png);
    content:"Tara_Dickov";
    font-size:x-large;
}


#head_fatty::before{
    background-image:url(../images/heads/fatty.png);
}
#head_fatty::after{
    background-image:url(../images_out/fatty_average.png);
    content:"FattyJubJub";
    font-size:x-large;
}


#head_witch::before{
    background-image:url(../images/heads/witch.png);
}
#head_witch::after{
    background-image:url(../images_out/witch_average.png);
    content:"_witch_craft_";
    font-size:x-large;
}

#head_noot::before{
    background-image:url(../images/heads/noot.png);
}
#head_noot::after{
    background-image:url(../images_out/noot_average.png);
    content:"soggynoot";
    font-size:x-large;
}

#head_yfd::before{
    background-image:url(../images/heads/yfd.png);
}
#head_yfd::after{
    background-image:url(../images_out/yfd_average.png);
    content:"_yfd";
    font-size:x-large;
}


#head_sailor::before{
    background-image:url(../images/heads/sailor.png);
}
#head_sailor::after{
    background-image:url(../images_out/sailor_average.png);
    content:"SailorV1";
    font-size:x-large;
}


#head_tac::before{
    background-image:url(../images/heads/tac.png);
}
#head_tac::after{
    background-image:url(../images_out/tac_average.png);
    content:"tacgaminpro";
    font-size:x-large;
}

#head_fan::before{
    background-image:url(../images/heads/fan.png);
}
#head_fan::after{
    background-image:url(../images_out/fan_average.png);
    content:"BubblyFan024";
    font-size:x-large;
}

#head_beet::before{
    background-image:url(../images/heads/beet.png);
}
#head_beet::after{
    background-image:url(../images_out/beet_average.png);
    content:"BungalowBeet";
    font-size:x-large;
}


#head_sloth::before{
    background-image:url(../images/heads/sloth.png);
}
#head_sloth::after{
    background-image:url(../images_out/sloth_average.png);
    content:"SlothGamer23157";
    font-size:large;
}

#head_axo::before{
    background-image:url(../images/heads/axo.png);
}
#head_axo::after{
    background-image:url(../images_out/axo_average.png);
    content:"_axolotl_";
    font-size:large;
}

#head_salt::before{
    background-image:url(../images/heads/salt.png);
}
#head_salt::after{
    background-image:url(../images_out/salt_average.png);
    content:"Emp_Saltshaker";
    font-size:large;
}

#head_pirk::before{
    background-image:url(../images/heads/pirk.png);
}
#head_pirk::after{
    background-image:url(../images_out/pirk_average.png);
    content:"Emp_Saltshaker";
    font-size:large;
}